In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df=pd.read_csv('beer_consumption.csv')
df.head()

         Data  ... Consumo de cerveja (litros)
0  2015-01-01  ...                      25.461
1  2015-01-02  ...                      28.972
2  2015-01-03  ...                      30.814
3  2015-01-04  ...                      29.799
4  2015-01-05  ...                      28.900

[5 rows x 7 columns]

In [3]:
df.shape

(941, 7)

In [4]:
df.isnull().sum()

Data                           576
Temperatura Media (C)          576
Temperatura Minima (C)         576
Temperatura Maxima (C)         576
Precipitacao (mm)              576
Final de Semana                576
Consumo de cerveja (litros)    576
dtype: int64

In [5]:
df.dropna(axis=0,inplace=True)

In [6]:
df.shape

(365, 7)

In [7]:
df.head()

         Data  ... Consumo de cerveja (litros)
0  2015-01-01  ...                      25.461
1  2015-01-02  ...                      28.972
2  2015-01-03  ...                      30.814
3  2015-01-04  ...                      29.799
4  2015-01-05  ...                      28.900

[5 rows x 7 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Data                         365 non-null    object
 1   Temperatura Media (C)        365 non-null    object
 2   Temperatura Minima (C)       365 non-null    object
 3   Temperatura Maxima (C)       365 non-null    object
 4   Precipitacao (mm)            365 non-null    object
 5   Final de Semana              365 non-null    float64
 6   Consumo de cerveja (litros)  365 non-null    float64
dtypes: float64(2), object(5)
memory usage: 22.8+ KB

In [9]:
df['Data']=pd.to_datetime(df['Data'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Data                         365 non-null    datetime64[ns]
 1   Temperatura Media (C)        365 non-null    object
 2   Temperatura Minima (C)       365 non-null    object
 3   Temperatura Maxima (C)       365 non-null    object
 4   Precipitacao (mm)            365 non-null    object
 5   Final de Semana              365 non-null    float64
 6   Consumo de cerveja (litros)  365 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 22.8+ KB

In [10]:
print(df['Data'].max())
print(df['Data'].min())

2015-12-31 00:00:00
2015-01-01 00:00:00

In [11]:
x=df.iloc[:,0:-1]
y=df.iloc[:,-1]
x.head()

        Data Temperatura Media (C)  ... Precipitacao (mm) Final de Semana
0 2015-01-01                  27,3  ...                 0             0.0
1 2015-01-02                 27,02  ...                 0             0.0
2 2015-01-03                 24,82  ...                 0             1.0
3 2015-01-04                 23,98  ...               1,2             1.0
4 2015-01-05                 23,82  ...                 0             0.0

[5 rows x 6 columns]

In [12]:
y.shape

(365,)

In [13]:
x.drop(columns=['Data'],axis=1,inplace=True)

In [14]:
x['Temperatura Maxima (C)']=[str(i).split(',') for i in x['Temperatura Maxima (C)']]

x.head()

  Temperatura Media (C)  ... Final de Semana
0                  27,3  ...             0.0
1                 27,02  ...             0.0
2                 24,82  ...             1.0
3                 23,98  ...             1.0
4                 23,82  ...             0.0

[5 rows x 5 columns]

In [15]:
x['Temperatura Maxima (C)']=['.'.join(i) for i in x['Temperatura Maxima (C)']]
x.head()

  Temperatura Media (C)  ... Final de Semana
0                  27,3  ...             0.0
1                 27,02  ...             0.0
2                 24,82  ...             1.0
3                 23,98  ...             1.0
4                 23,82  ...             0.0

[5 rows x 5 columns]

In [16]:
x['Temperatura Media (C)']=[str(i).split(',') for i in x['Temperatura Media (C)']]
x['Temperatura Media (C)']=['.'.join(i) for i in x['Temperatura Media (C)']]
x['Temperatura Minima (C)']=[str(i).split(',') for i in x['Temperatura Minima (C)']]
x['Temperatura Minima (C)']=['.'.join(i) for i in x['Temperatura Minima (C)']]
x['Precipitacao (mm)']=[str(i).split(',') for i in x['Precipitacao (mm)']]
x['Precipitacao (mm)']=['.'.join(i) for i in x['Precipitacao (mm)']]
x.head()
#x.replace({',':'.'}, regex = True, inplace = True)

  Temperatura Media (C)  ... Final de Semana
0                  27.3  ...             0.0
1                 27.02  ...             0.0
2                 24.82  ...             1.0
3                 23.98  ...             1.0
4                 23.82  ...             0.0

[5 rows x 5 columns]

In [17]:
x['Temperatura Maxima (C)']=x['Temperatura Maxima (C)'].astype('float64')
x['Temperatura Media (C)']=x['Temperatura Maxima (C)'].astype('float64')
x['Temperatura Minima (C)']=x['Temperatura Maxima (C)'].astype('float64')
x['Precipitacao (mm)']=x['Precipitacao (mm)'].astype('float64')
#x  = x.apply(pd.to_numeric)
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Temperatura Media (C)   365 non-null    float64
 1   Temperatura Minima (C)  365 non-null    float64
 2   Temperatura Maxima (C)  365 non-null    float64
 3   Precipitacao (mm)       365 non-null    float64
 4   Final de Semana         365 non-null    float64
dtypes: float64(5)
memory usage: 17.1 KB

In [18]:
x.head()

   Temperatura Media (C)  ...  Final de Semana
0                   32.5  ...              0.0
1                   33.5  ...              0.0
2                   29.9  ...              1.0
3                   28.6  ...              1.0
4                   28.3  ...              0.0

[5 rows x 5 columns]

In [19]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
num_vars = ['Temperatura Media (C)',
'Temperatura Minima (C)',
'Temperatura Maxima (C)',
'Precipitacao (mm)']
x[num_vars] = scaler.fit_transform(x[num_vars])

In [20]:
from sklearn.ensemble import ExtraTreesRegressor
model=ExtraTreesRegressor()
model.fit(x,y)

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=None, oob_score=False,
                    random_state=None, verbose=0, warm_start=False)

In [21]:
model.feature_importances_

array([0.2122223 , 0.21205762, 0.21575889, 0.09241537, 0.26754581])

In [22]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=64)

In [23]:
lr.fit(x_train,y_train)
y_pre=lr.predict(x_test)

In [24]:
type(y_test)
y_pre=y_pre.astype(pd.core.series.Series)

In [26]:
from sklearn.metrics import mean_absolute_error
mean_squared_error(y_test,y_pre)

5.918961108659422